_build/solution-vs/Debug
_build/solution-vs/Release
_deb
.~lock.*#
.DS_Store
.vagrant
*.d
*.exe
*.ilk
*.o
*.pdb
*~
/*.dll
/data
/Data
/imp.dat
/SavedGames*
/temp
ja2
ja2-last-strac
ja2-mod-*.bat
ja2-ve
ja2.log
release-*
stderr.txt
stdout.txt
